.md-body {
    display: flex;
    flex-flow: row wrap;
}

.md {
    margin: 0;
    padding: 0;
}
.md-bar {
    width: 100%;
    height: 5vh;
}
.md-editor {
    width: 50%;
    height: 100vw;
}
.md-editor > textarea {
    width: 100%;
    height: 100%;
}

.md-display {
    width: 50%;
    height: 100vw;
}

.md-display > iframe {
    width: 100%;
    height: 100%;
}
